:root {
	--header-color: #333333;
	--header-button-hover-color: #252525;
  --header-button-active-color: #000000;
  
  --text-color: #ffffff;
  --link-color: #009DFF;
  
  --background-color: #0c0c0c;

	--code-color: #aaaaaa;
	font-family: 'Noto Sans JP', sans-serif;
  color: var(--text-color);
}

html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
  background-color: var(--background-color);
}

a {
  color: var(--link-color);
  text-decoration: none !important;
}

.header {
	overflow: hidden;
	position: fixed;
	z-index: 1;

	background-color: var(--header-color);
	padding: 20px 10px;
	padding-left: env(safe-area-inset-left);
	padding-right: env(safe-area-inset-right);

	left: 0px;
	right: 0px;
	height: 50px;
	
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 4px 10px 0 rgba(0,0,0,0.16);
}
.header a {
	float: left;
	color: var(--text-color);
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
}
.header a.logo {
	font-size: 25px;
	font-weight: bold;
	margin-left: 90px;
	display: block;
  font-weight: bold;
}
.header .logoimg {
	position: absolute;
	top: 10px;
	height: 70px;
	left: calc(10px + env(safe-area-inset-left));
}
.header a:hover {
	background-color: var(--header-button-hover-color);
	color: var(--text-color);
}
.header a:active {
	background-color: var(--header-button-active-color);
	color: var(--text-color);
}
.header a.active {
	background-color: var(--header-button-active-color);
	color: var(--text-color);
}
.header .expand {
  display: none;
}

.header-right {
	float: right;
	padding-right: calc(15px + env(safe-area-inset-right));;
}

.text {
	margin: auto;
	width: 50%;
	padding: 10px;
	padding-bottom: env(safe-area-inset-bottom);
}
.text .textimg {
	width: 100%;
	height: auto;
}

code {
	background-color: var(--code-color);
	padding-left: 4px;
	padding-right: 4px;
}

.spacer {
	height: 85px;
}

@media screen and (max-width: 800px) {
	.text {
		margin: auto;
		width: 70%;
		padding: 10px;
		padding-bottom: env(safe-area-inset-bottom);
	}
}

@media screen and (max-width: 650px) {
	.text {
		margin: auto;
		width: 90%;
		padding: 10px;
		padding-bottom: env(safe-area-inset-bottom);
	}

  .header {
    overflow: visible;
    position: fixed;
    z-index: 1;

    background-color: var(--header-color);
    padding: 20px 10px;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);

    left: 0px;
    right: 0px;
    height: 50px;

    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 4px 10px 0 rgba(0,0,0,0.16);
  }
	.header a.logo {
		display: none;
	}
  .header a:hover {
    background-color: var(--header-color);
    color: var(--text-color);
  }
  .header a.active:hover {
    background-color: var(--header-button-active-color);
    color: var(--text-color);
  }
  .header .expand {
    display: block;
    position: absolute;
    float: right;
    right: calc(10px + env(safe-area-inset-right));
  }
  
  .header-right {
    overflow: hidden;
    float: left;
    left: 90px;
    right: 60px;
    position: absolute;
    background-color: var(--header-color);
  }
  .header-right a:not(:first-child) {
    display: none;
  }
  .header-right a {
    float: left;
    color: var(--text-color);
    text-align: left;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    overflow: hidden;
    white-space: normal;
  }
  
  .header-right.responsive {
    overflow: hidden;
    float: left;
    left: 0px;
    right: 0px;
    position: absolute;
    background-color: var(--header-color);
    padding: 0px;
    padding-top: 0px;
  }
  .header-right.responsive a {
    float: none;
    color: var(--text-color);
    text-align: left;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    overflow: hidden;
    white-space: normal;
    display: block;
    
    margin-left: calc(10px + env(safe-area-inset-left));
    margin-right: calc(10px + env(safe-area-inset-right));
  }
  header-right.responsive a:first-child {
    margin-top: 60px;
  }
  header-right.responsive a:last-child {
    margin-bottom: 10px;
  }
  .header-right.responsive a.active {
    color: var(--text-color);
  }
}