@font-face {
	font-family: 'Noto Sans JP';
	font-style: normal;
	font-weight: 400;
	src: url('https://aaa-gaming-company.github.io/fonts/notosansjp-light-webfont.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('https://aaa-gaming-company.github.io/fonts/notosansjp-light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('https://aaa-gaming-company.github.io/fonts/notosansjp-light-webfont.woff2') format('woff2'), /* Super Modern Browsers */
		 url('https://aaa-gaming-company.github.io/fonts/notosansjp-light-webfont.woff') format('woff'), /* Modern Browsers */
		 url('https://aaa-gaming-company.github.io/fonts/notosansjp-light-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('https://aaa-gaming-company.github.io/fonts/notosansjp-light-webfont.svg#NotoSansJP') format('svg'); /* Legacy iOS */
  }
  