<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover" />
    <meta name="theme-color" content="#1d1d1b" />

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/fonts/Google-Inter.css" />
    <link rel="stylesheet" href="/fonts/Google-AlumniSans-Black.css" />
  </head>
  <body>
    <header>
      <a href="/"><img class="logo" src="/img/logo.svg" /></a>
    </header>

    <hr class="header-spacing" />
    <main>
    </main>

    <footer>
      <p>&copy; 2018-2025 AAA Gaming Company</p>
      <p class="socials">
        <a href="https://instagram.com/aaagamingcompany"><img src="/img/socials/instagram.svg" /></a>
        <a href="https://discord.gg/ebtv6GnNwG"><img src="/img/socials/discord.svg" /></a>
        <a href="https://aaagamingcompany.itch.io"><img src="/img/socials/itchio.svg" /></a>
      </p>
    </footer>

    <script src="/js/main.js"></script>
  </body>
</html>